{
  "root": true,
  "extends": "eslint-config-airbnb",
  "env": {
    "node": true,
    "commonjs": true
  },
  "globals": {
    "document": true,
    "alert": true
  },
  "plugins": [],
  "rules": {
    "no-param-reassign": 0,
    "radix": 0,
    "func-names": 0,
    "no-alert": 0,
    "import/no-extraneous-dependencies": 0,
    "no-console": 0
  }
}
